@import 'mixins'; @import 'fonts';
.rate{
    margin-top: 81px;
}
.form-on{
    display: none;
}
.form-escape{
    margin-top: 36px;
}
.rate__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rate__title{
    margin-top: 52px;
}
.rate__box{
    .rate__desc{
        margin-top: 40px;
        p{
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 0.443077px;
            max-width: 278px;
        }
        p:last-child{
            margin-top: 27px;
            margin-bottom: 40px;
        }
    }
    img{
        display: none;
    }
}
.case__content{
    width: 100%;
}

@include respond-to(tablet){
    .rate__mob-image{
        display: none;
    }
    .rate{
        margin-top: 57px;
    }
    .rate__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .rate__desc{
            margin-top: 50px;
            p{
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.443077px;
                max-width: 383px;
            }
            p:last-child{
                margin-top: 27px;
                margin-bottom: 40px;
                max-width: 285px;
            }
        }
        img{
            display: block;
        }
    }
    .case__content{
        width: 100%;
    }
}

@include respond-to(desktop){
    .rate__mob-image{
        display: none;
    }
    .rate{
        margin-top: 110px;
    }
    .rate__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .rate__desc{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 18px;
            p{
                margin-top: 10px;
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0.713846px;
                max-width: 564px;
            }
            p:last-child{
                margin-top: 27px;
                margin-bottom: 40px;
                max-width: 564px;
            }
        }
        img{
            display: block;
            max-width: 415.96px;
            max-height: 425.32px;
            margin-top: -68px;
        }
    }
    .case__content{
        width: 100%;
    }
    .form-escape{
        display: none;
    }
    .form-on{
        display: flex;
        margin: 0 0;
        margin-top: 14px;
        input{
        }
    }
}