@import 'fonts';
@import 'header.scss';
body{
    margin: 0;
    box-sizing: border-box;
    font-family: avr;
}
.container{
    width: 95%;
    margin: 0px auto;
    max-width: 1098px;
}

.body_active{
    overflow-y: hidden;
}