@import 'fonts';
@import 'header.scss';
@import 'main';
@import 'guide';
@import 'auto';
@import 'bank';
@import 'target';
@import 'rate';
@import 'soon';
@import 'sec';
@import 'footer';
@import 'case';


body{
    margin: 0;
    box-sizing: border-box;
    font-family: avr;
    color: #2D3238;
}


.body_active{
    overflow-y: hidden;
}

.container{
    width: 87%;
    margin: 0px auto;
    max-width: 1098px;
}

.container{
    width: 83%;
    margin: 0px auto;
    max-width: 1098px;
}
@include respond-to(desktop){
    .container{
        width: 95%;
        margin: 0px auto;
        max-width: 1098px;
    }
}
.mob-container{
    width: 90%;
}